body,
.memory-game, 
.memory-card, 
.memory-card:active, 
.memory-card.flip, .front-face, 
.back-face, #debut-compteur-boite, 
#fin-compteur-boite,
#temps-boite,
#temps,
button {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: orange;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: violet;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/*=========================================================================================*/

#debut-compteur-boite,
#fin-compteur-boite
{
  font-size: 300%;
  text-align: center;
}

#temps-boite
{
  font-size: 200px;
  text-align: center;
}

#temps
{
  font-size: 30px;
  text-align: center;
}

button
{
  font-size: 100%;
  text-align: center;
}


/*Pour le dialog*/

dialog
{
  margin: auto;
  border-radius: 30px;
}

#fermerFenetre,
#nePlusAfficherCetteFenetre
{
  display: flex;
  margin: auto;
}

#header1,
#header2
{
  text-align: center;
  margin: 10px;
  padding: 0px;
}

h3
{
  margin: 0px;
  height: 40px;
}

#p1,
#p2,
#p3
{
  margin: 0px;
}

#h2
{
  display: flex;
  max-height: 200px;
}

dialog::backdrop
{
  background-color: rgba(93, 188, 251, 0.5);
}

#megaman
{
  max-width: 200px;
  max-height: 150px;
  text-align: right;
}